@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

:root {
    --bg-color:#1f242d;
    --secondary-bg-color: #323946;
    --text-color: #fff;
    --main-color: #48cae4;
}

body {
    background-color: var(--secondary-bg-color);
    color: #fff;
}

section {
    min-height: 100vh;
    padding: 10rem 10% 2rem;
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 1.5rem;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: top .4s;
}

.logo-container {
    padding: 0 .5rem;
}

.logo-icon {
    height: 40px;
    width: 40px;
    fill: var(--main-color);
}

.navbar {
    margin-left: 20rem;
    padding-left: 10rem;
}

.navbar a {
    color: var(--text-color);
    font-size: 17px;
    margin-left: 40px;
    transition: .3s;
}

.navbar a:hover,
.navbar a.active {
    color: var(--main-color);
}

span {
    color: var(--main-color);
}

.resume {
    background: var(--main-color);
    color: var(--secondary-bg-color);
    box-shadow: 0 0 1rem var(--main-color);
    border-radius: 2rem;
}

.resume:hover {
    box-shadow: none;
}

.resume:active {
    transform: translateY(4px);
}

.btn {
    display: inline-block;
    padding: .8rem 2rem;
    background: var(--main-color);
    font-size: 16px;
    color: var(--secondary-bg-color);
    letter-spacing: .1rem;
    font-weight: 600;
    border-radius: 2rem;
}
.title {
    font-size: 50px;
    text-align: center;
}

.img {
    width: 100%;
    height: 100%;
    margin-top: 3rem;
    margin-bottom: 3rem;
    border-radius: 1rem;
}

p {
    line-height: 2rem;
}

