@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&display=swaphttps://fonts.googleapis.com/css2?family=Poppins:wght@100;400&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

#user-card {
    border: 1px solid lightslategray;
    border-radius: 10px;
    padding: 5px 20px;
    margin-top: 16px;
    max-width: 700px;
    height: auto;
    display: flex;
    align-items: center;

  }

  #user-card img {
    object-fit: auto;
    object-position: left;
    margin: 20px;
    border-radius: 50%;
    height: 30%;
    width: 30%;
    margin-right: 16px; 
  }
  
  #user-card h1 {
    margin: 20px 5px ;
    font-weight: bold;
    position: absolute;
    left: 20%;
    top: 15%;
  }
  
  #user-card p {
    margin: 90px 30px 30px;
    padding: 30px 0;
    position: relative;
  }


